body {
    background-color: #f4f7f6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#saldo-menu {
    font-size: 2.5rem;
    letter-spacing: -1px;
}

@media (max-width: 576px) {
    #saldo-menu {
        font-size: 1.8rem;
    }
    
    .card {
        padding: 20px !important;
    }

    h1 {
        font-size: 1.5rem;
    }
}