

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

h1{
    color: brown;
}

body{
    font-family: "Roboto", sans-serif;
}



p {color: aqua
    ;font-weight: 800;
    
} 