div {
    color: red;
    font-size: 20px;
}

p {
    background-color: yellow;
    text-align: center;
}

a {
    text-decoration: underline;
    background-color: lightblue;
}

h1 {
    background-color: gray;
    color: white;
}

span {
    color: red;
    background-color: pink;
}
